﻿@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>
<p>
    <a class="btn btn-primary" href="@Url.Action("New", "Movies")">NEW MOVIE</a>
</p>


<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Vidly.Recources.HomeTexts.Movie</th>
            <th>@Vidly.Recources.HomeTexts.Genre</th>
            <th>@Vidly.Recources.HomeTexts.Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section scripts
{
    <script>
        $(document)
            .ready(function () {
                $("#movies")
                    .DataTable({
                        ajax: {
                            url: "/api/movies",
                            dataSrc: ""
                        },
                        columns: [
                            {
                                data: "name",
                                render: function (data, type, movie) {
                                    return "<a href='/Movies/Edit/" + movie.id + "'>" + movie.name + "</a>";
                                }
                            },
                            {
                                data: "genre.name"
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    return "<button class='btn-link js-delete-movie' data-movie-id=" + data + ">Delete</button>";
                                }
                            }
                        ]
                    });


                $("#movies")
                    .on("click",
                        ".js-delete-movie",
                        function () {
                            var button = $(this);

                            bootbox.confirm("Are you sure you want to delete this movie?",
                                function (result) {
                                    if (result) {
                                        $.ajax({
                                            url: "/api/movies/" + button.attr("data-movie-id"),
                                            method: "DELETE"
                                        })
                                            .done(function () {
                                                button.parents("tr")
                                                    .fadeOut(function () {
                                                        $(this).remove();
                                                    });
                                            })
                                            .fail(function () {
                                                bootbox.alert("Something went wrong");
                                            });
                                    }
                                });

                        });
            });
    </script>
}




