﻿@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>
<p>
    <a class="btn btn-primary" href="@Url.Action("New", "Movies")">NEW MOVIE</a>
</p>

@if (!Model.Any())
{
    <p>We don't have any movies yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(movie.Name, "Edit", "Movies", new {id = movie.Id}, null)
                </td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
        </tbody>
    </table>
}

