﻿
@{
    ViewBag.Title = Vidly.Recources.HomeTexts.ChooseLang;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Vidly.Recources.HomeTexts.ChooseLang</h2>

<ul>
    <li>@Html.ActionLink("English", "Change", "Language", new { LanguageAbbreviation = "en"}, null)</li>
    <li>@Html.ActionLink("Turkish", "Change", "Language", new { LanguageAbbreviation = "tr" }, null)</li>
    <li>@DateTime.Now.ToString()</li>
</ul>