﻿@model Vidly.Models.Customer
@{
    ViewBag.Title = Vidly.Recources.HomeTexts.Details;
}

<h2>@Model.Name</h2>

<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.Birthdate.HasValue)
    {
        <li>Birthdate: @Model.Birthdate.Value.ToShortDateString()</li>
    }
</ul>

