﻿@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = Vidly.Recources.HomeTexts.Customer;
}

<h2>@Vidly.Recources.HomeTexts.Customers</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("New", "Customers")">@Vidly.Recources.HomeTexts.NewCust</a>
</p>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Vidly.Recources.HomeTexts.Customer</th>
            <th>@Vidly.Recources.HomeTexts.MembershipType</th>
            <th>@Vidly.Recources.HomeTexts.Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
    <script>
        $(document)
            .ready(function() {
                $("#customers")
                    .DataTable({
                        ajax: {
                            url: "/api/customers",
                            dataSrc: ""
                        },
                        columns: [
                            {
                                data: "name",
                                render: function(data, type, customer) {
                                    return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                                }
                            },
                            {
                                data: "membershipType.name"
                            },
                            {
                                data: "id",
                                render: function(data) {
                                    return "<button class='btn-link js-delete-customer' data-customer-id=" + data + ">Delete</button>";
                                }
                            }
                        ]
                    });

                $("#customers")
                    .on("click",
                        ".js-delete-customer",
                        function() {
                            var button = $(this);

                            bootbox.confirm("Are you sure you want to delete this customer?",
                                function(result) {
                                    if (result) {
                                        $.ajax({
                                                url: "/api/customers/" + button.attr("data-customer-id"),
                                                method: "DELETE"
                                            })
                                            .done(function() {
                                                $(button)
                                                    .parents("tr")
                                                    .fadeOut(function() {
                                                        $(this).remove();
                                                    });
                                            })
                                            .fail(function() {
                                                bootbox.alert("Something went wrong!");
                                            });
                                    }
                                });
                        });
            });
    </script>
}


